html {
  color: #000000;
  background: #ffffff;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}
li { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before { content: ''; }
q:after { content: ''; }
abbr, acronym {
  border: 0;
  font-variant: normal;
}
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input, textarea, select { *font-size: 100%; }
legend { color: #000000; }
del, ins { text-decoration: none; }
html {
  font-size: 80%;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #efefea;
}
body { height: 100%; }
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -5em;
}
.footer, .push { height: 5em; }
.footer { background-color: #252525; }
.bottom {
  text-align: center;
  font-size: 90%;
  padding-top: 1em;
  color: #868686;
  border-top: 2em solid #e2e2dd;
}
.bottom a:hover { color: white; }
.calc {
  font-family: monospace;
  letter-spacing: 0.5em;
  font-size: 1.3em;
}
.page {
  width: 960px;
  margin: 2em auto;
  border: 8px solid #e2e2dd;
  background-color: white;
}
