
@import "reset-min.css";
@import "sprites.css";
@import "colors";


/** GENERAL **/
html {
    font-size: 80%;
    color: black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    background-color: white;
}

li {list-style-type: disc; margin-left: 2em;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
strong {font-weight: bold;}
h1 {display: block; font-size: 260%; letter-spacing: -0.06em; color: @darkgris; margin-top: 5em;}
h2 {display: block; font-size: 175%; font-weight: bold; color: @darkgris;}

/** LAYOUT **/
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -5em;
}
.footer, .push { height: 0em; }
.footer {background-color: #252525; }
.bottom {text-align: center; font-size: 90%; padding-top: 1em; color: @gris; border-top: 2em solid @border; }
.bottom a:hover {color: white;}
.ie6sucks {text-align: center; }
.container {width: 900px; margin: 0em auto 0em auto; background-color: white; 
            border: 0px solid @border; text-align: left; }
#page {
    margin-bottom: 5em;
    min-height:500px;
    height:auto !important;
    height:500px;
    _width: 900px; /* IE6 */
}



/** HOME **/
.home {padding: 1em 0; margin: 0 0 20px -3px;
       border-bottom: 1px solid @grisclaro;
}
p.about {margin: 0.5em 0; font-size: 120%; line-height: 1.4em;
         color: @gris; }
.block {width: 100%; overflow: hidden;}
.col4 {width: 25%; float: left; display: block;}
.col4 p {
    width: 215px; line-height: 17px;
    padding: 10px 0px 0 0; font-size: 100%; margin-top: 10px;
    color: @gris; border-top: 1px solid @grisclaro;}
h2.step {height: 226px; width: 216px;
         .sprites;}
h2#step1 {.sprite-help_paso1;}
h2#step2 {.sprite-help_paso2;}
h2#step3 {.sprite-help_paso3;}
h2#step4 {.sprite-help_paso4;}
span.num-step {float: left; width: 21px; height: 13px; margin-top: 1px;
               .sprites; }
span#num-step-1 {.sprite-home_step1;}
span#num-step-2 {.sprite-home_step2;}
span#num-step-3 {.sprite-home_step3;}
span#num-step-4 {.sprite-home_step4;}

.col2 {width: 450px; float: left;}
#video {}
#learn h2 {height: 30px; display: block;}
#learn p {height: 290px;}
#learn a#start_here {
    width: 438px; height: 71px;
    .sprites; .sprite-hazclick;}
p.about.note {font-size: 100%; font-style: italic; }

@import 'layout';
@import 'forms';


#encuesta {margin-top: 3em; font-size: 110%;}
#encuesta input[type=text] {width: 6em; _width: 50px;}
#encuesta textarea {width: 40em; height: 10em;}
#encuesta h3 {font-size: 125%; color: @darkgris; border-bottom: 1px solid @grisclaro; margin: 2em 0 1em 0; padding-left: 6.5em;}
#encuesta h4 {font-size: 100%; width: 75%; margin-left: 7em; padding-left: 1em;
    color: @gris; border-bottom: 1px solid @grisclaro; margin-top: 2em ;  }

/* SURVEY */
#encuesta .number {width: 18px; height: 13px; float: left; margin: 4px 3px 0 0;
    .sprites;}
#encuesta span#survey-num-1 {.sprite-e_num1;}
#encuesta span#survey-num-2 {.sprite-e_num2;}
#encuesta span#survey-num-3 {.sprite-e_num3;}
#encuesta span#survey-num-4 {.sprite-e_num4;}
#encuesta span#survey-num-5 {.sprite-e_num5;}
#survey-submit { width: 165px; height: 26px; border: 0; cursor: pointer;
    .sprites; .sprite-guardar_encuesta;}

/* INVOICES */
#invoice {}
#chart {width: 100%; margin: 0; border: 0; padding: 0;}
.chart_controls {width: 100%; overflow: hidden; margin-left: 4em; margin-top: 0.5em;}
.chart_controls a {display: block; margin-right: 3px; float: left; display: inline;width: 38px; height: 38px; text-indent: -10000px;}
#max_up {background: transparent url(../images/botones.gif) -2px -2px no-repeat;}
#max_up:hover {background: transparent url(../images/botones.gif) -42px -2px no-repeat;}
#max_down {background: transparent url(../images/botones.gif) -2px -42px no-repeat;}
#max_down:hover {background: transparent url(../images/botones.gif) -42px -42px no-repeat;}


table.dataset {margin-left: auto; margin-right: auto;}
table.dataset td {padding-left: 0; padding-right: 0.2em;}
table.dataset input {width: 4em; margin-left: 0; margin-right: 0;}
table.dataset label {color: black; margin-right: 1em; width: 10em;}
table.dataset span {margin-left: 0; margin-right: 1em; color: gray;}

.chartfields {width: 100%; overflow: hidden; margin: -10px 0 10px 40px;}
.chartfields input { font-size: 80%; border: 1px solid @medio; padding: 1px;
                     width: 27px; float: left; display: inline;margin-left: 4.5px; margin-right: 3px;}

#chart_panel {margin: 1em 0; border: 1px solid @gas; }
#invoice.GasController #chart_panel {border-color: @gas;}
#invoice.ElectricidadController #chart_panel {border-color: @electricidad;}

#invoice #colors {display: none;}
#invoice.GasController #colors {background-color: @gas;}
#invoice.ElectricidadController #colors {background-color: @electricidad;}
#invoice .invoice_submit {height: 26px; border: 0; cursor: pointer; .sprites;}
#invoice.GasController .invoice_submit {width: 222px; .sprite-guardar_gas;}
#invoice.ElectricidadController .invoice_submit {width: 231px; .sprite-guardar_electricidad;}