.sprites {
       display: block; overflow: hidden; text-indent: -1000px;
       background: url(/images/sprite.png) no-repeat top left;
}

.sprite-e_num1 { background-position: 0 0; }
.sprite-e_num2 { background-position: 0 -18px; }
.sprite-e_num3 { background-position: 0 -36px; }
.sprite-e_num4 { background-position: 0 -54px; }
.sprite-e_num5 { background-position: 0 -72px; }
.sprite-e_num6 { background-position: 0 -90px; }
.sprite-electricidad_less { background-position: 0 -108px; }
.sprite-electricidad_more { background-position: 0 -152px; }
.sprite-electricidad_off { background-position: 0 -196px; }
.sprite-electricidad_on { background-position: 0 -228px; }
.sprite-encuesta_off { background-position: 0 -260px; }
.sprite-encuesta_on { background-position: 0 -292px; }
.sprite-gas_less { background-position: 0 -324px; }
.sprite-gas_more { background-position: 0 -368px; }
.sprite-gas_off { background-position: 0 -412px; }
.sprite-gas_on { background-position: 0 -444px; }
.sprite-guardar_electricidad { background-position: 0 -476px; }
.sprite-guardar_encuesta { background-position: 0 -507px; }
.sprite-guardar_gas { background-position: 0 -538px; }
.sprite-hazclick { background-position: 0 -569px; }
.sprite-help_paso1 { background-position: 0 -645px; }
.sprite-help_paso2 { background-position: 0 -876px; }
.sprite-help_paso3 { background-position: 0 -1107px; }
.sprite-help_paso4 { background-position: 0 -1338px; }
.sprite-home_step1 { background-position: 0 -1569px; }
.sprite-home_step2 { background-position: 0 -1587px; }
.sprite-home_step3 { background-position: 0 -1605px; }
.sprite-home_step4 { background-position: 0 -1623px; }
.sprite-informe_off { background-position: 0 -1641px; }
.sprite-informe_on { background-position: 0 -1673px; }
.sprite-logo { background-position: 0 -1705px; }
.sprite-quees { background-position: 0 -1771px; }

