<h1 id="e3elogo">Qué es E3E</h1>

<p class="about">
  E3E es una iniciativa que pretende obtener datos reales sobre el consumo energético de viviendas de España y los hábitos de consumo de sus habitantes.<br/>
  Mediante una sencilla encuesta E3E proporciona a los usuarios información sobre el consumo energético de una vivienda y la compara con el consumo de las viviendas del mismo tipo y localidad.<br/>
  E3E es un proyecto de investigación para comparar el consumo de su vivienda con otras similares.<br/><br/>
  <b>Conocer el consumo de una vivienda ayuda a controlarlo y por tanto a la reducción de las emisiones de CO2.</b>
  <b>Conocer el consumo de una vivienda en comparación con las demás ayuda al usuario a saber cómo es su vivienda y si es conveniente su rehabilitación.</b><br/>
  E3E contribuye a fijar las escalas para la calificación y certificación energética de edificios existentes.
</p>
<br/>
<h2>Cómo colaborar</h2>
<p class="about">
  Simplemente rellenando la encuesta que consta de XX preguntas sobre su vivienda y sus hábitos de consumo.<br/>
  Pasado un tiempo, con los resultados del proyecto de investigación, E3E le informará sobre el consumo energético de su vivienda con respecto a las demás y sobre posibles medidas para reducirlo.<br/>
  Los pasos son los siguientes:<br/>
</p>
<div class="col3">
  <h2>Paso 1:</h2>
  <h1>Encuesta</h1>
  <img src="/images/encuesta.png" alt="encuesta" />
  <p>
    Para poder saber si su vivienda consume demasiado comparada con otras viviendas parecidas necesitamos conocerla un poco. Para ello complete la encuesta sobre su edificio que aparece en la segunda pestaña, paso 1: encuesta. Los datos son totalmente confidenciales porque esta web no registra ningún dato personal, nada de lo que indique en esta web podrá servir para identificarle.
  </p>
</div>
<div class="col3">
  <h2>Paso 2:</h2>
  <h1>Gas</h1>
  <img src="/images/consumo.png" alt="evolución del consumo" />
  <p>
    En la siguiente pestaña nos podrá indicar, si tiene gas natural, su factura mensualmente.<br/>
    Comparando su consumo de gas mensual con la climatología podremos determinar el nivel de aislamiento de su vivienda, siempre dentro de un orden, ya que los niveles de confort térmico son distintos para cada familia.
</div>
<div class="col3">
  <h2>Paso 3:</h2>
  <h1>Electricidad</h1>
  <img src="/images/empty.png" alt="guía de ahorro"/>
  <p>
    De la misma manera los datos del gasto eléctrico son necesarios en caso de que tenga aparatos de eléctricos de calefacción o aire acondicionado.
  </p>
</div>

<br style="clear: both;" />

<h2>Quiénes somos</h2>

<p class="about">
  E3E es una iniciativa del Instituto de Ciencias de la Construcción Eduardo Torroja. CSIC y AICIA.<br/>
  El Instituto de Ciencias de la Construcción Eduardo Torroja es un centro de investigación del Consejo Superior de Investigaciones Científicas, adscrito al Ministerio de Ciencia e Innovación.<br/>
  AICIA es un grupo de investigación adscrito a la Escuela de Ingenieros Industriales de la Universidad de Sevilla.<br/>
</p>
<div id="partners">
  <%= link_to image_tag('partners/ministerio de vivienda.jpg')  %>
  <%= link_to image_tag('partners/csic.gif')  %>
  <%= link_to image_tag('partners/torroja.png')  %>
  <%= link_to image_tag('partners/aicia2.jpg')  %>
</div>
