
<%= title t(:title) %>

<p class="about">
  Muchas gracias por rellenar la encuesta e introducir sus datos de consumo. Con los resultados del estudio en unos meses podrá comparar el consumo de su vivienda con el resto del parque edificatorio. Por favor <strong>recuerde su nombre de usuario para volver a consultar este portal</strong>.
</p>